
<title>商品添加</title>

<body>
<div>
    <% include ../public/header.ejs %>
    <div class="container-fluid pt-common">
        <div class="row">
            <div class="col col-md-4">
                <% include ../public/slider.ejs %>
            </div>

            <div class="col col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/product/index">商品管理</a></li>
                        <li class="breadcrumb-item active" aria-current="page">商品添加</li>
                    </ol>
                </nav>

                <form class="form-inline row" action="/product/doAdd" method="post">
                    <div class="form-group col-12 mb-2">
                        <label class="mr-2" for="name">商品名称：</label>
                        <input type="text" class="form-control" id="name" placeholder="商品名称" name="title">
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label class="mr-2" for="img">商品图片：</label>
                        <input type="file" class="form-control-file form-file" id="img">
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label class="mr-2" for="price">商品价格：</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="商品价格">
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label class="mr-2" for="postage">商品邮费：</label>
                        <input type="text" class="form-control" id="postage" name="fee" placeholder="商品邮费">
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label class="mr-2 align-top" for="describe">商品描述：</label>
                        <textarea class="form-control" aria-label="With textarea" name="description" id="describe" placeholder="商品描述"></textarea>
                    </div>
                    <div class="form-group col-12 mb-2">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>