<link rel="stylesheet" href="/css/public/slider.css">
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    商品管理
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="list-group">
                <a href="/product/index" class="list-border-none list-group-item list-group-item-action list-group-item-light">商品列表</a>
                <a href="/product/add" class="list-border-none list-group-item list-group-item-action list-group-item-light">商品增加</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    用户管理
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="list-group">
                <a href="#" class="list-border-none list-group-item list-group-item-action list-group-item-light">用户列表</a>
                <a href="#" class="list-border-none list-group-item list-group-item-action list-group-item-light">用户添加</a>
            </div>
        </div>
    </div>
</div>